[user]
    name = b2ns
    email = eminemdsp@163.com
[merge]
    conflictstyle = diff3
[credential]
    helper = store
[alias]
    st = status
    ci = commit
    co = checkout
    br = branch
    df = diff
[http]
    ; proxy = http://127.0.0.1:8889
[https]
    ; proxy = https://127.0.0.1:8889
