priority -50

extends html

#######################  <% %>  #######################
snippet %% "" i
<% $1 %>$0
endsnippet

snippet %= "" i
<%= $1 %>$0
endsnippet

snippet %- "" i
<%- $1 %>$0
endsnippet

snippet %_ "" i
<%_ $1 %>$0
endsnippet

